@import "tailwindcss";

/* ===== Theme Colors ===== */
:root {
  --background: #FFFFFF;
  --foreground: #191A23;

  --primary: #B9FF66;
  --secondary: #F3F3F3;
  --dark: #191A23;
}

/* ===== Tailwind Theme ===== */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-dark: var(--dark);

  --font-sans: var(--font-space-grotesk);
}

/* ===== Global Styles ===== */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}